<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation')%>
    <main  class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">Bienvenido a la sección acerca de la empresa</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ad eaque iusto? Facere, temporibus dolore corrupti officiis provident debitis quisquam amet aliquam nulla esse excepturi delectus accusamus ea maiores numquam pariatur atque eum architecto labore nemo culpa est cumque et. Nobis alias saepe, reprehenderit doloribus et fuga possimus deserunt quam, sunt eaque ullam, eligendi magnam voluptas? Deleniti recusandae repudiandae provident odio est quod alias nostrum eius iure perspiciatis assumenda, id excepturi illo mollitia, autem explicabo sint quasi harum, dolorem architecto dolor esse quo. Perferendis molestiae eum facilis aliquam ab pariatur numquam soluta recusandae incidunt nemo. Amet, quaerat inventore laborum obcaecati ullam delectus magnam voluptate ducimus! Blanditiis a dicta praesentium ipsa totam quaerat eaque, odit, hic vitae sequi tempora ullam iusto quo ab nostrum in eligendi? Quis accusantium ullam quam mollitia voluptatem assumenda non autem quibusdam recusandae voluptas asperiores, odio iure quod est dolores placeat. Exercitationem placeat error alias voluptatibus maiores. Explicabo omnis, distinctio et eligendi ut neque labore accusamus vero rerum, exercitationem culpa assumenda voluptate! Quis est eius maxime. Eveniet, aperiam molestias alias sint minus modi excepturi omnis vitae, aut quae, porro harum quaerat soluta officiis accusantium exercitationem dicta eaque! Blanditiis, voluptas? Mollitia laboriosam quis, assumenda provident repellat inventore libero?</p>
        </section>
        
    </main>

    <%- include('partials/footer')%>
</body>
</html>