<footer class="bg-dark text-center p-4">
    
    <p class="h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi labore beatae eligendi quibusdam voluptas laudantium impedit accusamus. Consequatur eius aperiam aliquid iste accusamus quos sit molestias earum, ducimus, consectetur ipsam.</p>
</footer>

<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>